:root {
	--screen-size-small: 30em; /* breakpoint reference only */
}
@font-face {
	font-family: "BEYNO";
	src: url("BEYNO.ttf") format("truetype"), url("BEYNO.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@keyframes intro {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.muted {
	color: rgba(255, 255, 255, 0.5);
}
.responsive-iframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.responsive-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
iframe {
	border: 0;
}
main, footer {
	animation: intro 0.3s both;
	animation-delay: 0.15s;
}
footer time[datetime$="M"]:before {
	content: "\2013\0020";
}
@media only screen
	and ( max-width: 30em ) {
	footer time[datetime$="M"] {
		display: none;
	}
}
blockquote cite {
	display: block;
}
blockquote cite::before {
	 content: "\2014";
}
:target {
	color: #fff;
}
/* hack.css overrides and enhancements */
.hack li ul {
	margin: 0;
}
.main {
	padding: 20px 10px;
}
nav a.active {
	background-color: #ff2e88;
	color: #fff;
}
a[itemprop="url"] {
	color: #ff9800;
}
a[itemprop="url"]:hover {
	color: #fff;
}
a[href^="http"]:not([href*="://barskern.no"])::after,
a[rel*="external"] {
	content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}
figure a[href*="://"]::after,
figure a[rel*="external"] {
	content: "";
}
html {
	font-size: 13px;
}
.hack pre {
	font-size: 17px;
}
article [itemprop="description"], article [itemprop="summary"] {
	margin-bottom: 20px;
	margin-top: 20px;
}

article [itemprop="summary"] p {
	margin: 0;
}

article [itemprop="summary"].has-icon {
	display: flex;
	flex-direction: row;
}

article [itemprop="summary"].has-icon img {
	margin: 1em;
	margin-top: 0;
	width: 120px;
	flex-shrink: 0;
}

body > header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > .avatar {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;

		& > img {
			width: 80px;
		}

		& > .name {
			font-family: 'BEYNO';
			font-size: 2.7em;
		}

		& > img {
			margin-right: 1em;
			border-radius: 20%;
		}
	}
}

.container {
	padding: 1em 2.5em;
}

@media screen and (max-width: 768px) {
	body > header {
		flex-direction: column;
	}
}

@media screen and (max-width: 560px) {
	article [itemprop="summary"].has-icon {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1em;
	}
	.container {
		max-width: 50rem;
	}
}

.tags {
	display: flex;
	margin-bottom: 1.6em;
}

.tags > .tag {
	@extend .card;
	padding: 1pt 4pt;
	margin: 0 2pt;
}
