{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block title %}barskern | {{page.title}}{% endblock title %}

{% block content %}

{% block header %}
	{{ super() }}
{% endblock header %}

<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="headline">{{ page.title }}</h1>
		<span class="muted">{{ post_macros::meta(page=page) }}</span>
	</header>
	<div itemprop="articleBody">
		{{ page.content | safe }}
	</div>

	{% block page_footer %}
		<footer>
			<hr>
			<p>
				{% if config.extra.author %}
					Published by {{ config.extra.author }}
				{% endif %}
				{% if page.taxonomies.tags %}
					and tagged
					{% for tag in page.taxonomies.tags %}
						<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
						{% if page.taxonomies.tags | length > 1 %}
							{% if loop.index != page.taxonomies.tags | length %}
								{% if loop.index == page.taxonomies.tags | length - 1 %}
									and
								{% else %}
									,
								{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</p>
			<p>
				<a itemprop="url" href="{{ config.base_url }}">
					<span itemprop="name">home</span>
				</a>
			</p>
		</footer>
	{% endblock page_footer %}
</article>

{% endblock content %}
