{% macro meta(page) %}
	<svg style="margin-bottom:-3px" class="i-clock" viewBox="0 0 32 32"
		 width="16" height="16" fill="none" stroke="currentcolor"
		 stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
		<circle cx="16" cy="16" r="14"/>
		<path d="M16 8 L16 16 20 20"/>
	</svg>
	<span>{{ page.reading_time }} minute read</span>
	<svg style="margin-bottom: -3px" class="i-edit" viewBox="0 0 32 32"
		 width="16" height="16" fill="none" stroke="currentcolor"
		 stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
		<path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"/>
	</svg>

	{% if page.date %}Published: {{ page.date | date(format="%F") }}{% endif %}
{% endmacro meta %}

{% macro page_in_list(page) %}
	<article itemscope itemtype="http://schema.org/CreativeWork">
		<header>
			<h2 itemprop="name">
				<a href="{{ page.permalink | safe }}">{{ page.title }}</a>
			</h2>
			<span class="muted">{{ self::meta(page=page) }}</span>
		</header>
		{% if page.summary %}
			<div itemprop="summary">
				{{ page.summary | safe }}
				<nav class="readmore"><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
			</div>
		{% endif %}
	</article>
{% endmacro page_in_list %}

{% macro project_in_list(project) %}
	<article itemscope itemtype="http://schema.org/CreativeWork">
		<header>
			<h2 itemprop="name">
				<a href="{{ project.link | safe }}">{{ project.title }}</a>
			</h2>
		</header>
		{% if project.description %}
			<div itemprop="summary" class="{% if project.thumbnail %}has-icon{% endif %}">
				{% if project.thumbnail %}
					{% set thumbnail = "projects/thumbnails/" ~ project.thumbnail %}
					{% if project.thumbnail is ending_with("svg") %}
						{% set url = get_url(path=thumbnail) %}
					{% else %}
						{% set image = resize_image(path=thumbnail, height=120, width=120, op="fit") %}
						{% set url = image.url %}
					{% endif %}
					<img src="{{ url }}" />
				{% endif %}
				{{ project.description | safe }}
			</div>
		{% endif %}
		{% if project.tags %}
			<div class="tags">
				{% for tag in project.tags %}
					<div class="tag">{{ tag }}</div>
				{% endfor %}
			</div>
		{% endif %}
	</article>
{% endmacro project_in_list %}
